<ion-content class="test" padding>
  <div class="header-image"></div>
  <div class="main-content" text-wrap text-center>
    <div class="circular">
      <div class="garis">
        <ion-icon name="ios-person" class="ikon"></ion-icon>
      </div>
    </div> 
    <hr>
    <ion-list>

      <ion-item>
        <ion-input color="oren" type="text" [(ngModel)]="username" placeholder="Email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input color="oren" type="password" [(ngModel)]="password" placeholder="Password"></ion-input>
      </ion-item>
      <hr>

      <div style="text-align: right;">
        <button mat-raised-button (click)="masuk()" icon-start>
          <ion-icon name='log-in'></ion-icon>
          Log-in 
        </button>
      </div>

    </ion-list>
  </div>
  <p (click)="registerPage()" style="color: white; margin-left: 10px; font-size: 15px">
    *User baru? Daftar disini.
  </p>
</ion-content>
