<!--
  Generated template for the SdevelopPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="oren">
    <ion-title>{{ judul }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content parallax-header bounce class="bg-modal">

  <div class="header-image"></div>

  <div class="main-content" text-wrap text-center>

    <div padding>
      <!-- <div *ngFor="let isi of tampung_disas_awal">
        <mat-card (click)="smadetel(isi.id_disas, isi.id_detdisas, isi.lat, isi.long, isi.nama_disasdet, isi.pelaksana, isi.status, isi.tgl_akhir, isi.tgl_mulai, isi.tgl_reg, isi.tujuan, isi.gambar, isi.alamat)" class="bayang" matRipple>
          <b> {{ isi.nama_disasdet }} </b>
        </mat-card>

        <br>
      </div> -->

      <div *ngFor="let isi of tampung_disas_awal">
        <div *ngIf="bahasa == 'indo'">
          <mat-card (click)="smadetel(isi.id_disas, isi.id_detdisas, isi.lat, isi.long, isi.nama_disasdet,isi.nama_disasdet_ing, isi.pelaksana,isi.pelaksana_ing, isi.status, isi.tgl_akhir, isi.tgl_mulai, isi.tgl_reg, isi.tujuan,isi.tujuan_ing, isi.gambar, isi.alamat)" class="bayang" matRipple>
            <b> {{ isi.nama_disasdet }} </b>
          </mat-card>

        </div>
        <div *ngIf="bahasa == 'ing'">
            <mat-card (click)="smadetel(isi.id_disas, isi.id_detdisas, isi.lat, isi.long, isi.nama_disasdet,isi.nama_disasdet_ing, isi.pelaksana,isi.pelaksana_ing, isi.status, isi.tgl_akhir, isi.tgl_mulai, isi.tgl_reg, isi.tujuan,isi.tujuan_ing, isi.gambar, isi.alamat)" class="bayang" matRipple>
              <b> {{ isi.nama_disasdet_ing }} </b>
            </mat-card>
  
          </div>

        <br>
      </div>

      <div *ngFor="let isi of tampung_disas">
        <div *ngIf="bahasa == 'indo'">
          <mat-card (click)="smadetel(isi.id_disas, isi.id_detdisas, isi.lat, isi.long, isi.nama_disasdet,isi.nama_disasdet_ing, isi.pelaksana,isi.pelaksana_ing, isi.status, isi.tgl_akhir, isi.tgl_mulai, isi.tgl_reg, isi.tujuan,isi.tujuan_ing, isi.gambar, isi.alamat)" class="bayang" matRipple>
            <b> {{ isi.nama_disasdet }} </b>
          </mat-card>

        </div>
        <div *ngIf="bahasa == 'ing'">
            <mat-card (click)="smadetel(isi.id_disas, isi.id_detdisas, isi.lat, isi.long, isi.nama_disasdet,isi.nama_disasdet_ing, isi.pelaksana,isi.pelaksana_ing, isi.status, isi.tgl_akhir, isi.tgl_mulai, isi.tgl_reg, isi.tujuan,isi.tujuan_ing, isi.gambar, isi.alamat)" class="bayang" matRipple>
              <b> {{ isi.nama_disasdet_ing }} </b>
            </mat-card>
  
          </div>

        <br>
      </div>


    </div>

  </div>


</ion-content>
