<!--
  Generated template for the KirimemailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="oren">

      <button matRipple ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Contact Us</ion-title>
    <ion-buttons end>
      <button (click)="kirim()" matRipple icon-only ion-button>
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: #e0e2e2">

  <ion-card>
    <ion-card-content>
      <!-- <rl-tag-input [(ngModel)]="emailnya" [addOnBlur]="false" [autocomplete]="true" [autocompleteItems]="getEmail"
        placeholder="Kirim email kepada..." (input)="ambilemailInternet($event.target.value)">

      </rl-tag-input>
      <hr> -->
      <ion-item>
        <ion-label floating>Judul</ion-label>
        <ion-input [(ngModel)]="inJudul" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Isi Pesan</ion-label>
        <ion-textarea [(ngModel)]="inBalas" rows="5"></ion-textarea>
      </ion-item>
      <br>
      <div class="perhatian" text-center>
        <label> <b>*Pastikan semua telah sesuai dengan apa yang anda inginkan</b> </label>
      </div>




    </ion-card-content>
  </ion-card>

</ion-content>
