<!--
  Generated template for the MailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar [hideBackButton]="isSearchbarOpened" color="oren">
    <ion-title *ngIf="!isSearchbarOpened"> {{ judul }} </ion-title>
    <ion-searchbar #searchBar *ngIf="isSearchbarOpened" placeholder="Cari berdasarkan judul pesan" showCancelButton="true" (ionInput)="onSearch($event)" (ionCancel)="isSearchbarOpened=false; dataSementara();"></ion-searchbar>
    <ion-buttons end>
      <button icon-only ion-button *ngIf="!isSearchbarOpened" (click)="togglenya()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="oren">
    <ion-segment color="light" [(ngModel)]="tabnya">
      <ion-segment-button matRipple value="inbox">
        INBOX <ion-badge color="abang">{{ jumah_inbox }}</ion-badge>
      </ion-segment-button>
      <ion-segment-button matRipple value="outbox">
        OUTBOX <ion-badge color="abang">{{ jumah_outbox }}</ion-badge>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content style="background-color: #e0e2e2">

  <div [ngSwitch]="tabnya">
    <div *ngSwitchCase="'inbox'">
      <ion-list>
        <ion-item-sliding *ngFor="let item of datanya">
          <ion-item matRipple (click)="detailmail(item.id_mailbox, item.judul_mailbox, item.penerima_mailbox, item.pengirim_mailbox, item.tanggal_mailbox, item.gambar, item.isi_mailbox)">
            <ion-avatar item-start>
              <img [src]="crl_galeri+item.gambar">
            </ion-avatar>
            <ion-note item-end>{{ item.tanggal_mailbox }}</ion-note>
            <h2> {{ item.judul_mailbox }}</h2>
            <h4> {{ item.pengirim_mailbox }} </h4>
            <p> {{ item.isi_mailbox }} </p>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="secondary">
              <ion-icon name="repeat"></ion-icon>
              Reply
            </button>
            <button ion-button color="danger">
              <ion-icon name="trash"></ion-icon>
              Delete
            </button>
          </ion-item-options>
        </ion-item-sliding>

      </ion-list>


    </div>


    <div *ngSwitchCase="'outbox'">
      <ion-list>
        <ion-item-sliding *ngFor="let item of datanyaOut">
          <ion-item matRipple (click)="detailmail(item.id_mailbox, item.judul_mailbox, item.pengirim_mailbox, item.penerima_mailbox, item.tanggal_mailbox, item.gambar, item.isi_mailbox)">
            <ion-avatar item-start>
              <img [src]="crl_galeri+item.gambar">
            </ion-avatar>
            <ion-note item-end>{{ item.tanggal_mailbox }}</ion-note>
            <h2> {{ item.judul_mailbox }}</h2>
            <h4> {{ item.penerima_mailbox }} </h4>
            <p> {{ item.isi_mailbox }} </p>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="secondary">
              <ion-icon name="repeat"></ion-icon>
              Reply
            </button>
            <button ion-button color="danger">
              <ion-icon name="trash"></ion-icon>
              Delete
            </button>
          </ion-item-options>
        </ion-item-sliding>

      </ion-list>

    </div>

  </div>

  <ion-fab right bottom>
    <button (click)="kirimEmail()" ion-fab color="oren">
      <ion-icon name="create"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
