page-bencanadetail {
    .header-image {
        background: url("../assets/img/kartu/fas.png");
        height: 40vh;
        position: relative;
        z-index: -1;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;  
    }

    .bayang{ 
        height: 100px;
        border-radius: 12px;
        padding-top: 40px; 
        font-size: 15px;
        text-align: center;
        border-left: 25px solid #df5819;
    }


    .main-content {
        opacity: .9;
        margin-top: -20px;
        margin-left: 10px;
        margin-right: 10px;
        height: auto;
        padding: 6px;
        border-radius: 5px;
        background-color: #e4e4e4;
        -webkit-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
        // background: #F5F5F5;
        position: relative !important;
    }

    .bg-modal{
        background-image: url("../assets/img/background/background_home.png");
        
        background-size: cover;
    /* create a new stacking context */
        position: absolute;
        z-index: -1; 
    }
}
