<!--
  Generated template for the SdevelopPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="oren">
    <ion-title>{{ judul }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content parallax-header bounce class="bg-modal">

  <div class="header-image"></div>

  <div class="main-content" text-wrap text-center>

    <div padding>
      <div *ngFor="let isi of tampung_sportdet_awal">
          <div *ngIf="bahasa == 'indo'">
            <mat-card (click)="smadetail(isi.id_sport, isi.id_detsport, isi.lat, isi.long, isi.nama_sportdet, isi.nama_sport_ing, isi.pelaksana, isi.pelaksananya, isi.status, isi.tgl_akhir, isi.tgl_mulai, isi.tgl_reg, isi.tujuan, isi.tujuan_ing, isi.gambar, isi.alamat)" class="bayang" matRipple>
              <b> {{ isi.nama_sportdet }} </b>
            </mat-card>
          </div>
          <div *ngIf="bahasa == 'ing'">
              <mat-card (click)="smadetail(isi.id_sport, isi.id_detsport, isi.lat, isi.long, isi.nama_sportdet_ing, isi.nama_sport_ing, isi.pelaksana, isi.pelaksananya, isi.status, isi.tgl_akhir, isi.tgl_mulai, isi.tgl_reg, isi.tujuan, isi.tujuan_ing, isi.gambar, isi.alamat)" class="bayang" matRipple>
                <b> {{ isi.nama_sportdet_ing }} </b>
              </mat-card>
            </div>
        <br>
      </div>

      <div *ngFor="let isi of tampung_sportdet">
          <div *ngIf="bahasa == 'indo'">
            <mat-card (click)="smadetail(isi.id_sport, isi.id_detsport, isi.lat, isi.long, isi.nama_sportdet, isi.nama_sport_ing, isi.pelaksana, isi.pelaksananya, isi.status, isi.tgl_akhir, isi.tgl_mulai, isi.tgl_reg, isi.tujuan, isi.tujuan_ing, isi.gambar, isi.alamat)" class="bayang" matRipple>
              <b> {{ isi.nama_sportdet }} </b>
            </mat-card>
          </div>
          <div *ngIf="bahasa == 'ing'">
              <mat-card (click)="smadetail(isi.id_sport, isi.id_detsport, isi.lat, isi.long, isi.nama_sportdet_ing, isi.nama_sport_ing, isi.pelaksana, isi.pelaksananya, isi.status, isi.tgl_akhir, isi.tgl_mulai, isi.tgl_reg, isi.tujuan, isi.tujuan_ing, isi.gambar, isi.alamat)" class="bayang" matRipple>
                <b> {{ isi.nama_sportdet_ing }} </b>
              </mat-card>
            </div>
        <br>
      </div>


    </div>

  </div>


</ion-content>
