<!--
  Generated template for the DetailmailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="oren">
    <ion-title>Detail Pesan</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="background-color: #e0e2e2">

  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img [src]="crl_galeri+gambarnya">
      </ion-avatar>
      <h2>{{ pengirim_mailboxnya }}</h2>
      <p>{{ tanggal_mailboxnya }}</p>
    </ion-item>
    <ion-card-header>
      <b> {{ judul_mailboxnya }} </b>
    </ion-card-header>
    <ion-card-content>
      {{ isi_mailboxnya }}
    </ion-card-content>
    <div *ngIf="balasan" padding>
      <ion-item>
        <ion-label floating>Balasan</ion-label>
        <ion-textarea [(ngModel)]="inBalas" rows="5"></ion-textarea>
      </ion-item>
      <button (click)="resend()" ion-button color="primary" outline block icon-end>
        Kirim Pesan
        <ion-icon name="send"></ion-icon>
      </button>
    </div>
    <ion-row>
      <ion-col>
        <button (click)="balasPesan()" color="secondary" ion-button icon-start clear small>
          <ion-icon name="repeat"></ion-icon>
          <div>Balas Pesan</div>
        </button>
      </ion-col>
      <ion-col>
        <button color="danger" ion-button icon-start clear small>
          <ion-icon name="trash"></ion-icon>
          <div>Hapus Pesan</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>
