page-profile {

    .main-content {
        opacity: .9;
        margin-top: -20px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 6px;
        border-radius: 5px;
        background-color: #e4e4e4;
        -webkit-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
        // background: #F5F5F5;
        position: relative !important;
    }

    .bg-modal{
        background-image: url("../assets/img/background/background_home.png");
        background-size: cover;
    /* create a new stacking context */
        position: absolute;
        z-index: -1; 
    }

}
