<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="oren">
    <ion-title>JAPFA PROFILE</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bg-modal">

  <div class="main-content" text-wrap>

    <br>
    <h6 style="color: tomato">About Japfa Foundation</h6>
    <p>Established in July 2015, JAPFA Foundation serves as the Corporate Foundation of PT Japfa Comfeed Indonesia,
      Tbk. and its related entities, embracing a vision to “To Maximize Youth Potential through Development of
      Education, Nutrition and Sports.”
      Translating and implementing Company Motto of “Growing Towards Mutual Prosperity”, JAPFA Foundation functions to
      ensure the social-economic growth of its surrounding communities. To achieve the goal, the company focuses its
      attention to youth, one fundamental aspect of society with the greatest potential to grow.</p>
    <hr>
    <h6 style="color: tomato">Vision</h6>
    <p>
      To Maximize Youth Potential Through Development of Education, Nutrition and Sports
    </p>

    <hr>
    <h6 style="color: tomato">Mission</h6>
    <p>
        To empower communities, especially their youth by providing access and quality-improvement programs in the fields of general Education, Nutrition and Sports as well as specific agriculture-related fields
    </p>



  </div>

</ion-content>
