<!--
  Generated template for the SmadetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
 
  <ion-navbar color="oren">
    <ion-title> {{ judul }} </ion-title>
    <ion-buttons end>
      <button (click)="shareSos()" ion-button icon-only color="light">
        <ion-icon name="share"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="oren">
    <ion-segment color="light" [(ngModel)]="tabnya">
      <ion-segment-button matRipple value="info">
        INFO
      </ion-segment-button>
      <ion-segment-button matRipple value="progress" [hidden]="board">
        PROGRESS
      </ion-segment-button>
      <ion-segment-button matRipple value="galery" [hidden]="board">
        GALERY
      </ion-segment-button>
      <ion-segment-button matRipple value="report" [hidden]="board">
        REPORT
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-modal">
  <div [ngSwitch]="tabnya">
    <div *ngSwitchCase="'info'">


      <div class="header-image" [ngStyle]="{'background-image': 'url(https://jfapps.japfafoundation.org/assets/img/'+tipe_gambar+gambar+')'}"></div>

      <div class="main-content" text-wrap text-center>


        <div padding>

          <ion-list>

            <ion-item style="background: transparent">
              <ion-label stacked><h4> <b>No </b> </h4> <p> {{ no }} </p> </ion-label>
            </ion-item>

            <ion-item style="background: transparent">
              <ion-label stacked> <h4> <b> Program Objective </b> </h4> <p style="text-align: justify"> {{ pobjek }} </p> </ion-label>
            </ion-item>

            <ion-item style="background: transparent">
              <ion-label stacked> <h4> <b> Location </b> </h4> <p style="text-align: justify"> {{ location }} </p> </ion-label>
            </ion-item>


            <ion-item style="background: transparent">
              <ion-label stacked><h4> <b> Implementers </b> </h4> <p> {{ implement }} </p> </ion-label>
            </ion-item>

            <ion-item style="background: transparent">
              <ion-label stacked><h4> <b> Start Date </b> </h4> <p> {{ sdate }} </p> </ion-label>
            </ion-item>

            <ion-item style="background: transparent">
              <ion-label stacked><h4> <b> End Date  </b> </h4> <p>  {{ edate }} </p> </ion-label>
            </ion-item>


          </ion-list>



        </div>



      </div>



    </div>

    <div *ngSwitchCase="'progress'">
      <h2 text-center style="color: white">PRECENTAGE</h2>
      <ion-card>
        <ion-card-content text-center>
          <ngx-gauge [type]="gaugeType" 
           [value]="gaugeValue" 
           [label]="gaugeLabel"  
           [append]="gaugeAppendText"
           [thresholds]="thresholdConfig"
           [thick]="tik"
           cap="round"
           >
          </ngx-gauge>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          Rincian Proses
        </ion-card-header>
        <ion-card-content>
          <ion-list *ngFor="let p of prosesnya">
            <ion-item>
              <div item-start>
                <ion-label>
                  {{ p.progress }}%
                </ion-label>
              </div>
              <ion-label>
                  {{ p.bulan }}
              </ion-label>
              <a style="text-decoration: none" ion-button item-end href="https://jfapps.japfafoundation.org/assets/excel/{{ p.excel }}">
                <ion-icon name="download"></ion-icon>
              </a>
            </ion-item>
          </ion-list>


        </ion-card-content>
      </ion-card>

    </div>

    <div padding *ngSwitchCase="'galery'">
      <h2 text-center style="color: white">GALERY</h2>

        <!-- <ion-row>
          <div *ngFor="let isi_gambar of tampung_gambar">
            <ion-col col-6>
              <mat-card class="tayo" matRipple>

                <img src="https://jfapps.japfafoundation.org/assets/img/galeri/{{isi_gambar.gambar}}" width="100%"
                  height="140px" imageViewer>

              </mat-card>
            </ion-col>

          </div>
        </ion-row> -->
        <br>
        <div *ngFor="let a of tampung_gambar_tanggal">

          <h6 style="color: white; margin-left: 15px"> {{ a.tanggal }} </h6>
        <ion-scroll scrollX="true" style="white-space: nowrap; height: 130px; width: 100%; margin-top: -10px;">
            <div class="inner" *ngFor="let gambar of a.data">
              <mat-card >
                  <!-- <div class="yt" imageViewer [ngStyle]="{'background-image': 'url(' + gambar.url +')'}"></div> -->
                  <img [src]="gambar.url" class="yt" imageViewer>
              </mat-card>
    
            </div>
          </ion-scroll>
          
        </div>




    </div>

    <div padding *ngSwitchCase="'report'">
      <h2 text-center style="color: white">REPORT</h2>
      <br><br>
      <div text-wrap>
        <div padding>
          <div *ngFor="let isi of tampung_laporan">
            <!-- <div> -->
            <a style="text-decoration: none" href="https://jfapps.japfafoundation.org/assets/img/laporan/{{isi.file}}">
              <mat-card class="bayang" matRipple>
                <b>{{isi.descrip}}</b>
                <i style="color:red">[{{isi.tanggal}}]</i>
              </mat-card>
            </a>

            <br>
          </div>


          <br>


        </div>
      </div>


    </div>

  </div>
</ion-content>
