page-smadetail {
    .header-image {
        height: 40vh;
        position: relative;
        z-index: -1;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        
    }

    .yt{
        height: 80px;
        width: 120px;
        background-size: 120%;
        background-position: center center;
        background-repeat: no-repeat;
      }
    
      .inner {
        width: auto;
        height: 60px;
        margin: 1px;
    
        mat-card {
          margin-left: 5px;
          display: table-cell;
          border: solid 1px #ccc;
          margin-right: 3px;
          padding: 0px;
          padding-top: 10px;
          padding-bottom: 10px;
          border-radius: 10px;
        }
      }

    .bayang{
        border-radius: 12px;
        font-size: 13px;
        text-align: left;
        margin: -18px;
        border-left: 25px solid #df5819;
        margin-bottom: 20px;
    }

    .tayo {
        padding: 0;
        border-radius: 5px;
      }

    .main-content {
        opacity: .9;
        margin-top: -20px;
        margin-left: -5px;
        margin-right: -5px;
        padding: 10px;
        border-radius: 5px;
        background-color: #e4e4e4;
        -webkit-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
        // background: #F5F5F5;
        position: relative !important;
    }

    .bg-modal{
        background-image: url("../assets/img/background/background_home.png");
        
        background-size: cover;
    /* create a new stacking context */
        position: absolute;
        z-index: -1; 
    }
}
