<!--
  Generated template for the GdvocationalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="oren">
      <ion-title> BENCANA PROGRAM</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content class="bg-modal">
  
    <div class="main-content" text-wrap text-center>
      <div class="tembok"></div>
      <div text-center>
        <img src="assets/img/icon/bencana.png" width="135px" height="122px" alt="" srcset="">
      </div>
  
      <div padding>
  
        <div *ngFor="let isi of disas">
          <div *ngIf="bahasa == 'indo'">
            <mat-card (click)="kota(isi.id_bencana, isi.nama_bencana)" class="bayang" matRipple>
              <b> {{ isi.nama_bencana }} </b>
            </mat-card>
          </div>
          <div *ngIf="bahasa == 'ing'">
              <mat-card (click)="kota(isi.id_bencana, isi.nama_bencana)" class="bayang" matRipple>
                <b> {{ isi.nama_bencana_ing }} </b>
              </mat-card>
            </div>
          <br>
        </div>
      </div>
  
    </div>
  
  
  </ion-content>
  