page-home {
  .header-image {
    height: 30vh;
    position: relative;
    z-index: -1;
  }

  .slide-background {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .bayang {
    -webkit-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
    padding: 1.5px;
  }

 
  .kartunya1 {
    height: 60px;
    background-image: url('../assets/img/icon/jf_info.png');
    background-size: 48%;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .kartunya2 {
    height: 60px;
    background-image: url('../assets/img/icon/education_program.png');
    background-size: 80%;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .kartunya3 {
    height: 60px;
    background-image: url('../assets/img/icon/nutrition_program.png');
    background-size: 65%;
    background-position: center center;
    background-repeat: no-repeat;
  }


  .kartunya4 {
    height: 60px;
    background-image: url('../assets/img/icon/sport_program.png');
    background-size: 75%;
    background-position: center center;
    background-repeat: no-repeat;
  }


  .kartunya5 {
    height: 60px;
    background-image: url('../assets/img/icon/social_strategic.png');
    background-size: 80%;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .kartunya6 {
    height: 60px;
    background-image: url('../assets/img/icon/bencana.png');
    background-size: 62%;
    background-position: center center;
    background-repeat: no-repeat;
  }


 

  .tayo {
    padding: 0;
  }


  .main-content {
    opacity: .9;
    margin-top: -35px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 6px;
    border-radius: 5px;
    background-color: #e4e4e4;
    -webkit-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
    // background: #F5F5F5;
    position: relative !important;
  }

  .bg-modal {
    background-image: url('../assets/img/background/background_home.png');
    
    /* create a new stacking context */
    position: absolute;
    z-index: -1; 
    background-size: cover;
  }

  .yt{
    background-repeat: no-repeat;
    height: 80px;
    width: 120px;
    background-size: cover;
    background-position: center center;
  }

  .inner {
    display: inline-block;
    width: auto;
    margin: 1px;
    margin-right: 4px;

    mat-card {
      margin-left: 5px;
      display: table-cell;
      border: solid 1px #ccc;
      margin-right: 3px;
      padding: 0px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 10px;
    }
  }

.scroll-zoom-wrapper {
    white-space: nowrap;
}

.boknya{
  border: 10px solid black;
}

ion-scroll {
    min-height: 120px; 
    height: auto;

        .scroll-content {
        padding: 0px !important;
    }    
}

  .yt2{
    background-image: url('../assets/img/kartu/yt2.png');
    height: 80px;
    width: 120px;
    background-size: 120%;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .yt3{
    background-image: url('../assets/img/kartu/yt3.png');
    height: 80px;
    width: 120px;
    background-size: 120%;
    background-position: center center;
    background-repeat: no-repeat;
  }

}
