<ion-header>
  <ion-navbar color="oren">
    <button matRipple ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
      
    <ion-title style="margin-left: -20px">
      <button ion-button icon-only clear menuToggle>
        <img src="assets/img/navbar/logo_japfa.png" width="90px" height="30px">
      </button>
    </ion-title>
    <ion-buttons end style="margin-right: 10px; border: 1px solid white; border-radius: 5px;">
      <button (click)="changeBahasa()" ion-button round color="light">
        <p *ngIf="bahasa == 'indo'"> 
          IDN
        </p>
        <p *ngIf="bahasa == 'ing'">
          ENG
        </p>
        <!-- <img [src]="bahasa == 'indo' ? 'assets/img/icon/id.png' : 'assets/img/icon/us.png'" width="30px" height="27px"> -->
      </button>
    </ion-buttons>


  </ion-navbar>
</ion-header>

<ion-content parallax-header bounce class="bg-modal">

  <ion-slides class="header-image" #slider pager="false" autoplay="2000" loop="true" speed="1500" effect="coverflow">
    <ion-slide class="slide-background" *ngFor="let background of backgrounds" [ngStyle]="{'background-image': 'url(' + background +')'}">
    </ion-slide>
  </ion-slides>

  <div padding>
    <div class="main-content" text-wrap text-center>
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <mat-card (click)="profile()" class="bayang" matRipple>
              <div class="kartunya1"></div>
            </mat-card>
          </ion-col>
          <ion-col col-4>
            <mat-card (click)="education()" class="bayang" matRipple>
              <div class="kartunya2"></div>
            </mat-card>
          </ion-col>
          <ion-col col-4>
            <mat-card (click)="nutrition()" class="bayang" matRipple>
              <div class="kartunya3"></div>
            </mat-card>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4>
            <mat-card (click)="sport()" class="bayang" matRipple>
              <div class="kartunya4"></div>

            </mat-card>
          </ion-col>
          <ion-col col-4>
            <mat-card (click)="socinya()" class="bayang" matRipple>
              <div class="kartunya5"></div>

            </mat-card>
          </ion-col>
          <ion-col col-4>
            <mat-card (click)="bencana()" class="bayang" matRipple>
              <div class="kartunya6"></div>
            </mat-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      <hr>

      <div style="text-align: left; margin-bottom: 5px;">
        <b style="margin-left: 3px;">JF CHANNEL</b>
      </div>


      <ion-scroll scrollX="true" style="width: 100%;">
        <div class="inner" *ngFor="let video of tampung_video">

          <mat-card matRipple (click)="pilihPutarShare(video.link, video.title)">
              <div class="yt" [ngStyle]="{'background-image': 'url(http://jfapps.japfafoundation.org/assets/img/video/' + video.img +')'}"></div>
            
          </mat-card>

        </div>
      </ion-scroll>
      <hr>

      <div style="text-align: left">
        <b style="margin-left: 3px;">JF NEWS</b>
      </div>


      <ion-grid>
        <ion-row>

          <ion-col col-6 *ngFor="let news of tampung_news">
            <a href="http://jfapps.japfafoundation.org/assets/img/news/{{news.file}}">
            <mat-card class="tayo" matRipple>

              <img src="http://jfapps.japfafoundation.org/assets/img/img_news/{{news.img}}" width="80px" height="110px">

            </mat-card>
          </a>
          </ion-col>
         
        </ion-row>

      </ion-grid>

      <h4>Visit Us</h4>
        <hr>
        <ion-grid>
          <ion-row>
            <ion-col col-4>
              <a href="https://www.facebook.com/japfafoundation/">
                <img src="assets/img/icon/facebook.png" width="50px" height="50px">
              </a>
            </ion-col>
            <ion-col col-4>
              <a href="https://www.instagram.com/japfafoundation/">
                <img src="assets/img/icon/instagram.png" width="50px" height="50px">
              </a>
            </ion-col>
            <ion-col col-4>
              <a href="https://twitter.com/japfafoundation/">
                <img src="assets/img/icon/twitter.png" width="50px" height="50px">
              </a>
            </ion-col>
          </ion-row>
        </ion-grid>

    </div>
  </div>

</ion-content>
