<ion-menu [content]="content">
    <ion-header>
      <ion-toolbar color="oren">
        <ion-title> {{ nama }} </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="menu">
      <ion-list no-lines>
        <button matRipple class="listnya" menuClose ion-item (click)="home()">
          <b> Home </b>
          <ion-icon name="ios-arrow-forward" item-end></ion-icon>
        </button>
        <button matRipple class="listnya" menuClose ion-item (click)="profilenya()">
          <b> Profile </b>
          <ion-icon name="ios-arrow-forward" item-end></ion-icon>
        </button>
        <button matRipple class="listnya" menuClose ion-item (click)="email()">
          <b> Contact Us </b>
          <ion-icon name="ios-arrow-forward" item-end></ion-icon>
        </button>
        <button matRipple class="listnya" menuClose ion-item (click)="keluar()">
          <b> Sign Out </b>
          <ion-icon name="ios-arrow-forward" item-end></ion-icon>
        </button>
      </ion-list>
    </ion-content>


</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
