page-daftar {
    .test {
        background-color: #df5819;
      }
    
      .header-image {
        height: 5vh;
        background-size: cover;
        background-position: center center;
        position: relative;
        z-index: -1;
      }
    
      .main-content {
        border-radius: 2px;
        margin-top: -20px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 20px;
        background-color: white;
        -webkit-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
        // background: #F5F5F5;
        position: relative !important;
      }
    
      .circular {
        width: 100px;
        height: 100px;
        position: inherit;
        border-radius: 50%;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;
        border: solid #df5819;
        background-color:#df5819;
        color: white;
        background-size: 100%;
        margin-top: -70px;
        margin-left: auto;
        margin-right: auto;
        // margin-bottom: 50px;
      }
      .garis{
        margin-top: auto;
        margin-bottom: auto;
        width: 92px;
        height: 92px;
        border-radius: 50%;
        border: 3px solid #ffffff;
        margin-left: auto;
        margin-right: auto;
      }
    
      .ikon{
        z-index: -2px;
        margin-top: -5px;
        font-size: 100px;
      }
    
      .profile-description {
        font-size: 15px;
        color: #888;
      }
}
