<ion-content class="test" padding>
    <div class="header-image"></div>
    <div class="main-content" text-wrap text-center>
      <h3 style="color: #2b2b2b">
        Daftar Akun
      </h3>
      <hr>
      <ion-list>
  
        <ion-item>
          <ion-input color="oren" type="text" [(ngModel)]="nama" placeholder="Nama Lengkap"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label color> Jenis Kelamin</ion-label>
            <ion-select [(ngModel)]="jk">
              <ion-option value="Laki-laki">Laki-laki</ion-option>
              <ion-option value="Perempuan">Perempuan</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
          <ion-input color="oren" type="email" [(ngModel)]="email" placeholder="Email"></ion-input>
        </ion-item>


        <ion-item>
          <ion-input color="oren" type="number" [(ngModel)]="nope" placeholder="Nomor Telepon"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input color="oren" type="text" [(ngModel)]="username" placeholder="Username"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-input color="oren" type="password" [(ngModel)]="password" placeholder="Password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input color="oren" type="password" [(ngModel)]="password2" placeholder="Masukan Password Lagi"></ion-input>
        </ion-item>

        <ion-item>
            <ion-textarea color="oren" rows="4" [(ngModel)]="alamat" placeholder="Alamat"></ion-textarea>
        </ion-item>
  

        <hr>
        <button mat-raised-button (click)="daftar()" style="width: 100%" icon-start>
          Daftar
        </button>
  
  
      </ion-list>
    </div>
    <p (click)="loginPage()" style="color: white; margin-left: 10px; font-size: 15px">
      *Sudah punya akun? login disini.
    </p>
  </ion-content>
  