<!--
  Generated template for the GdvocationalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="oren">
    <ion-title> KATEGORI {{ judul }} </ion-title>
  </ion-navbar>

</ion-header>


<ion-content parallax-header bounce class="bg-modal">

  <div class="header-image"></div>

  <div class="main-content" text-wrap text-center>


    <div padding>

      <div *ngFor="let isi of dataList">
        <div *ngIf="bahasa == 'indo'">
          <mat-card (click)="develop(isi.id, isi.nama)" class="bayang" matRipple>
            <b> {{ isi.nama }} </b>
          </mat-card>
        </div>

        <div *ngIf="bahasa == 'ing'">
            <mat-card (click)="develop(isi.id, isi.nama_ing)" class="bayang" matRipple>
              <b> {{ isi.nama_ing }} </b>
            </mat-card>
          </div>

        <br>
      </div>
    </div>

  </div>


</ion-content>
