<ion-header>
  <ion-navbar color="oren">
    <button matRipple ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile User</ion-title>
  </ion-navbar>
</ion-header>

<ion-content parallax-header no-bounce class="bg-modal">
  <div class="header-image"></div>
  <div class="main-content" text-wrap text-center>
    <div [ngStyle]="{'background-image': 'url(' + crl_galeri+user.gambar +')'}" class="circular"></div>
    <h2>{{user.name}}</h2>
    <p> &bull; {{user.occupation}} &bull;</p>
    <p class="profile-description">
      {{user.deskripsi}} <br> <br>
      {{ user.alamat }} <br>
      {{ user.bergabung }}
    </p>
    <hr>
    <ion-list no-lines>
      <ion-item>
        <ion-icon name="mail" color="primary" item-start></ion-icon>
        <p>Email</p>
        {{user.email}}
      </ion-item>
      <ion-item>
        <ion-icon item-start name="call" color="danger"></ion-icon>
        <p>No. Telpon</p>
        {{user.notelp}} 
      </ion-item>
    </ion-list>
  </div>


</ion-content>
