<!--
  Generated template for the EducationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="oren">
    <ion-title>EDUCATION PROGRAM</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bg-modal">

  <div class="main-content" text-wrap>

    <div class="tembok"></div>
    <div text-center>
      <img src="assets/img/icon/education_program.png" width="170px" height="62px" alt="" srcset="">
    </div>


    <div class="tembok"></div>

    <div padding>
      <div *ngFor="let isi of dataList">
        <div *ngIf="bahasa == 'indo'">
          <mat-card (click)="sdevelop(isi.id_edu, isi.nama_edu)" class="bayang" matRipple>
            <b> {{ isi.nama_edu }} </b>
          </mat-card>
        </div>
        <div *ngIf="bahasa == 'ing'">
            <mat-card (click)="sdevelop(isi.id_edu, isi.nama_edu_ing)" class="bayang" matRipple>
              <b> {{ isi.nama_edu_ing }} </b>
            </mat-card>
          </div>
        <br>
      </div>


      <br>


    </div>

  </div>

</ion-content>
